<ion-view title="Manage Shifts">
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">ShiftStarter</h1>
  </ion-header-bar>

    <ion-content class="padding">
      <ion-toggle ng-model="manageMode" ng-change="toggleMode()" toggle-class="toggle">Manage Shifts</ion-toggle>
      <ion-list can-swipe="true">
        <ion-item ng-repeat="shift in shifts">
          <h2>{{shift.type}}</h2>
          <p>{{shift.start}} - {{shift.end}}</p>
          <p>{{shift.assigned}}</p>
            <ion-option-button class="button-assertive" ng-click="toggleAssignment(shift._id)">
              Assign
            </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>