<ion-view title="How to use Shiftstarter">
  <ion-content class="padding">
  	<p>Some days you get the bear, and some days the bear gets you. Wouldn't that bring about chaos? I've had twelve years to think about it. And if I had it to do over again, I would have grabbed the phaser and pointed it at you instead of them. And blowing into maximum warp speed, you appeared for an instant to be in two places at once.</p>
  	<p>The look in your eyes, I recognize it. You used to have it for me. Fate protects fools, little children and ships named Enterprise.</p>
  	<p>Could someone survive inside a transporter buffer for 75 years? and attack the Romulans. The Enterprise computer system is controlled by three primary main processor cores, cross-linked with a redundant melacortz ramistat, fourteen kiloquad interface modules. Computer, belay that order.</p>
  </ion-content>
</ion-view>
