<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">ShiftStarter</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="logout()">Logout</button>
    </div>
  </ion-header-bar>
    <ion-content class="has-header">
      <ion-list can-swipe="true">
        <ion-item ng-repeat="slot in slots">
          <h2>{{slot.type}}</h2>
          <p>{{slot.start}} - {{slot.end}}</p>
          <p>{{slot.assigned}}</p>
            <ion-option-button class="button-assertive" ng-click="toggleAssignment(slot._id)">
              Assign
            </ion-option-button>
        </ion-item>
      </ion-list>
      <button class="button button-full button-assertive" ng-click="destroySession()">
        Destroy token
      </button>
      <button class="button button-full button-balanced" ng-click="getSlots()">
        Get Memberinfo
      </button>
    </ion-content>
</ion-view>